# LIAB Base Kickstart v1.2.0 2018-05-25
# version=CentOS7
# System authorization information
auth --enableshadow --passalgo=sha512

# Use network installation
url --url="http://mirror.centos.org/centos/7/os/x86_64/"

# Do not run the Setup Agent on first boot
firstboot --disable
#ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --ipv6=auto --activate
network  --hostname=server1.example.com
# Root password, "P@ssw0rd!"
rootpw P@ssw0rd!
# System services [comma separated, NO spaces allowed in the list]
services --enabled="chronyd"
timezone US/Central --isUtc --ntpservers=pool.ntp.org
# System bootloader configuration
bootloader --location=mbr 
# Partition clearing information
clearpart --all --initlabel 
zerombr
# Auto-reboot when installation is finished
#reboot

autopart --type=lvm

group --name=PEBKAC --gid=10000
group --name=ID10T --gid=10001

user --name=student --password=P@ssw0rd 
user --name=instructor --password=P@ssw0rd! --groups=wheel

%packages
@base
@core
bash-completion
chrony
git
vim
wget
ftp
whois
sos
screen
xinetd
%end

%post

%end
